<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
    <style>
        .btn {
            padding: 5px 20px;
            display: inline-block;
        }
        .btn.btn-black {
            border-radius: 0px;
            background: #000;
            color: #fff;
        }
    </style>
</head>

<body>
    <div style="padding: 2em 20% 4em;">
        <table>
            <tr>
                <td>
                    <div class="text" style="padding: 0 2.5em;">
                        <h2>Hello There,</h2>
                        <p style="text-align: justify;">
                            You are almost ready to start enjoying our apps.
                            This is a confirmation email to make sure that you own this email.
                            If you have never tried to sign up for our app, please ignore this email.
                            Simply click the link below to activate your account.
                            And let's get your room now!
                        </p>

                        <div style="text-align: center;">
                            <a href={{url}} class="btn btn-black">
                                Activate Now
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
    </div>
    </table>
</body>

</html>